<script type="module" data-module="@csbhi/home/publication-list">
    import { getCollection } from 'project/project-catalog.js';

    export default ({ wrapper }) => {
        const collection = getCollection(wrapper.dataset.collection);
        queueMicrotask(() => {
            const disclosure = wrapper.querySelector('details');
            if (disclosure) disclosure.open = collection.expanded !== false;
        });
        return collection;
    };
</script>

<section class="publication-list" $aria-labelledby="headingId">
    <h2 $id="headingId" $text="title"></h2>
    <template *if="hasIntro">
        <p $unsafeHTML="introHtml"></p>
    </template>
    <details>
        <summary>
            <span $text="summary"></span>
        </summary>
        <ol>
            <template *list="documents">
                <li>
                    <div $text="./label"></div>
                    <div>
                        <h3><a $href="./href" $text="./title"></a></h3>
                        <p $text="./summary"></p>
                        <p>
                            <span $text="./meta"></span>
                            <template *if="./startHere">
                                <span> · <span class="start-here">Start here</span></span>
                            </template>
                            <template *if="./prerequisite">
                                <span> · <span class="prq-label">PRQ:</span> <a $href="./prerequisite/href" $text="./prerequisite/label"></a></span>
                            </template>
                        </p>
                    </div>
                </li>
            </template>
        </ol>
    </details>

</section>
