@media (max-width: 767px) {
  main {
    padding: 1rem;
  }

  .spread {
    grid-template-columns: 1fr;
    width: auto;
  }

  .end-ref {
    position: relative;
    right: unset;
  }

  #roadmap details > ol > li {
    grid-template-columns: 1fr;
  }

  #hero h1 {
    margin-top: 0;
  }
}
