@media (max-width: 767px) {
  main {
    padding: 1rem;
  }

  .end-ref {
    position: relative;
    right: unset;
  }

  :is(#review-packet, #publications, #ai-notes) details > ol > li {
    grid-template-columns: 1fr;
  }

  #hero h1 {
    margin-top: 0;
  }
}
